/BollaConsegna.class
/Componenti.class
/ContenitoreBolla.class
/ContenitoreComponenti.class
/ContenitoreTipo.class
/DataBaseManager.class
/GenericoElemento.class
/Magazzino.class
/RigaBolla.class
/Tipo.class
